<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>
<h3> Hello "${param.name}", </h3>
<h4>Welcome to Spring client </h4>
<form action="#" th:action="@{/logout_user}" method="post">
    <button class="btn btn-lg btn-secondary" type="submit">Logout</button>
</form>
<!--<a href="${}">Click here to logout</a>-->
<!--<p>Logged in successfully!</p>-->
</body>
</html>